*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# ignore the annoying crap python virtualenv leaves lying around
climas-ng/lib
climas-ng/include
climas-ng/.Python
climas-ng/bin

# we have to ignore lib dirs because they get scattered about
# everywhere, but DON'T ignore the static lib dir
!climas-ng/climasng/static/lib