
// This is the master css for the map page.
//
// running 'gulp css' will compile this less file and it's @imports into a single minified css file.

// include other css-es used on the map page
@import (less) "components/normalize.css";
@import (less) "components/h5bp.css";

// our jq plugin css for the menubar and panels
@import (less) "components/menusandpanels.css";

@import (less) "components/common.less";       // common styles


/* body  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
body { height: 100% }


/* map content - - - - - - - - - - - - - - - - - - - - - - - - - - */

.contentwrap {
    position: absolute;
    top: @headerheight;
    // box-shadow: 0 6px 12px -6px rgba(0,0,0, 0.5);
    right: 0;
    bottom: @footerheight;
    left: 0;
    z-index: 1;
    min-height: 100px;
    padding: 0;
    // background: @background;
}

.splitmap {
    @tagheight: 4em;

    @sideformwidth: 15em;

    @right_z: 10000;
    @left_z: (@right_z + 1);
    @splitter_z: (@left_z + 1);

    @splitlinewidth: 0.4em;
    @splitthumbwidth: 3em;

    height: 100%;
    width: 100%;

    .tag {
        position: absolute;
        top: 0;
        width: 100%;
        left: 0;
        background: #efe6c5;
        height: @tagheight;
        overflow: hidden;
        &.left { text-align: left;   z-index: @left_z }
        &.right { text-align: right; z-index: @right_z; background: green }

        > div {
            // a div inside the tag is a wrapper
            @tagcontentpad: (@tagheight / 10);
            position: absolute;
            top: @tagcontentpad;
            left: @sidepad; // from common.less
            bottom: @tagcontentpad;
            right: @sidepad;
            input {
                // inputs in a tag are the species search box
                box-sizing: border-box;
                font-size: 150%;
                height: 100%;
                width: @sideformwidth;
            }
            #btn-compare {
                position: absolute;
                right: 1em;
                width: auto;
                top: 50%;
                height: 2em;
                margin-top: -1em;
            }
        }
    }

    .form {
        position: absolute;
        background: #efe6c5;
        top: @tagheight;
        bottom: 0;
        width: @sideformwidth;
        &.left { left: 0; }
        &.right { right: 0; }
    }

    #mapwrapper {
        position: absolute;
        top: @tagheight;
        left: 0;
        right: 0;
        bottom: 0;
        min-width: 10em;
        transition: all 0.33s;
        #map {
            width: 100%;
            height: 100%;
        }
    }
    &.showforms #mapwrapper {
        left: @sideformwidth;
    }
    &.split.showforms #mapwrapper {
        right: @sideformwidth;
    }

    .splitthumb, .splitline {
        position: absolute;
        left: 66%;
        z-index: -1; // stay hidden unless splitting
    }
    &.split .splitthumb { z-index: @splitter_z; }
    &.split .splitline { z-index: @splitter_z; }

    .splitline {
        background: rgba(255,0,0, 0.75);
        position: absolute;
        top: 0;
        bottom: 0;
        width: @splitlinewidth;
        margin-left: (-0.5 * @splitlinewidth);
        transition: width 0.33s, margin 0.33s;
    }
    .splitline.dragging {
        width: (0.33 * @splitlinewidth);
        margin-left: (0.33 * -0.5 * @splitlinewidth);
    }

    .splitthumb {
        text-align: center;
        overflow: hidden;
        background: red;
        top: 50%;
        width: @splitthumbwidth;
        height: @splitthumbwidth;
        border-radius: 50%;
        cursor: ew-resize; // IE doesn't recognise col-resize
        cursor: col-resize;
        span {
            @thumbtextsize: 1.66;
            font-size: (@thumbtextsize * 100%);
            line-height: (@splitthumbwidth / @thumbtextsize);
            color: white;
            white-space: nowrap;
        }
    }

}








